<div id="card" style="position:absolute; width:400px; height: 556px; margin: 0px; padding: 0px">
	<img class="card-background" src="data/images/{{::data.type}}_basic.png"/>

	<span style="position:absolute; font: 30px GillSans; left: 47px; top: 38px; width: 100%;" ng-cloak>{{::data.name}}</span>

	<div style="position:absolute;width: 400px;top: 38px; text-align: right">
		<div style="position: relative; right: 72px">
			<span style="font: bold 24px FuturaLt; color: rgb(247, 53, 53)" ng-cloak>{{::data.hp}} HP</span>
		</div>
	</div>

	<img ng-src="{{data.url}}" style="position:absolute; left: 57px; width: 303px; height: 215px; top: 78px;">

	<div style="position:absolute;width: 400px;top: 306px; text-align: center">
		<div style="position:relative;left:65px;width: 270px;  text-align: center">
			<span style="font: italic bold 11px FuturaLt;" ng-cloak>{{::data.species}}. Length: {{::data.length}}, Weight: {{::data.weight}}</span>
		</div>
	</div>


	<div style="display: table; position: absolute; width: 50px; height: 50px;line-height: 14px; top:332px; left: 35px;">
		<div style="display: table-cell; vertical-align: middle">
			<div style="margin-left: auto; margin-right: auto; width:51px; text-align: center">
				<img src="data/images/fire.png" style="width: 20px; height: 20px;margin-left: 3px" ng-repeat="i in getNumber(data.att1_amt) track by $index" >
			</div>
		</div>
	</div>

	<div style="display: table; position: absolute; height: 50px; line-height: 15px; top:332px; left: 90px; width: 240px;">
		<div style="display: table-cell; vertical-align: middle">
			<div style="margin-left: auto; margin-right: auto; text-align: left">
				<span style="font: bold 19px GillSansBold;" ng-cloak>{{::data.att1_name}}</span>
				<span style="font: 15px Arial;position: relative;bottom: 2px;left: -1px" ng-cloak>{{::data.att1_info}}</span>
			</div>
		</div>
	</div>

	<div style="display: table; position: absolute;  height: 50px; line-height: 14px; top:332px; width: 400px;">
		<div style="display: table-cell; vertical-align: middle;width: 100%;text-align: right;">
			<div style="position:relative;right:30px;">
				<span style="font: 31px GillSans;" ng-cloak>{{::data.att1_value}}</span>
			</div>
		</div>
	</div>

	<div style="position:absolute;left:38px;width: 341px;height:2px;top:393px;background-color: #070706 "></div>

	<div style="display: table; position: absolute; width: 50px; height: 50px;line-height: 14px; top:401px; left: 35px; right: 40px;">
		<div style="display: table-cell; vertical-align: middle">
			<div style="margin-left: auto; margin-right: auto; width:51px; text-align: center">
				<img src="data/images/water.png" style="width: 20px; height: 20px;margin-left: 3px" ng-repeat="i in getNumber(data.att2_amt) track by $index" >
			</div>
		</div>
	</div>

	<div style="display: table; position: absolute;  height: 50px; line-height: 15px; top:401px; left: 90px; width: 240px;" ng-show="data.hasAttack2">
		<div style="display: table-cell; vertical-align: middle">
			<div style="margin-left: auto; margin-right: auto; width:100%; text-align: left">
				<span style="font: bold 19px GillSansBold;" ng-cloak>{{::data.att2_name}}</span>
				<span style="font: 15px Arial; position: relative;bottom: 2px;left: -1px" ng-cloak>{{::data.att2_info}}</span>
			</div>
		</div>
	</div>

	<div style="display: table; position: absolute;  height: 50px; line-height: 14px; top:401px; width: 400px;">
		<div style="display: table-cell; vertical-align: middle;width: 100%;text-align: right;">
			<div style="position:relative;right:30px;">
				<span style="font: 31px GillSans;" ng-cloak>{{::data.att2_value}}</span>
			</div>
		</div>
	</div>

	<div style="position:absolute;left: 52px;top: 479px; text-align: center">
		<img src="data/images/{{::data.weakness_type}}.png" style="width: 20px; height: 20px;" >
		<span style="font: 13px GillSansBold; position: relative; left: -2px; top: -5px;" ng-cloak>{{::data.weakness_amt}}</span>
	</div>

	<div style="position:absolute;left: 188px;top: 479px; text-align: center">
		<img src="data/images/{{::data.resistance_type}}.png" style="width: 20px; height: 20px;" >
		<span style="font: 13px GillSansBold; position: relative; left: -2px; top: -5px;" ng-cloak>{{::data.resistance_amt}}</span>
	</div>

	<div style="position:absolute;left: 292px;top: 479px; width: 90px; text-align: center;">
		<img src="data/images/colorless.png" style="width: 20px; height: 20px;margin-left: 1px" ng-repeat="i in getNumber(data.retreat_amt) track by $index" >
	</div>


	<div style="position:absolute;width: 400px;top: 511px; text-align: center">
		<div style="position:relative;left:48px;width: 305px;  text-align: center">
			<span style="font: bold italic 11px FuturaLt;" ng-cloak>{{::data.flavor}}</span>
		</div>
	</div>


	<span style="position:absolute; font:  9px FuturaLt; left: 32px; top: 533px; width: 100%;" ng-cloak>{{::data.illustrator}}</span>

</div>
