<div class="bar bar-header bar-light" style="height: 45px;font-size: 21px;font-family:cursive;background-color: rgba(255,255,255,0.8);">

    <div style="width: 100%; text-align: left">
        <button class="button button-medium icon ion-android-trash"  ng-click="resetData()"></button>
    </div>

	<h1 class="title" style="font-weight: bold" ng-bind="app.name"></h1>

    <div style="width: 100%; text-align: right">
        <button class="button button-dark icon ion-android-alarm"  ng-click="testData()"></button>
        <button class="button button-energized icon ion-thumbsup" style="" ng-click="rateUs()"></button>
    </div>
</div>

<div id="container" style="width: 400px; height: 556px; left: 0px; top: 0px; position: relative;" hidden="hidden"></div>

<div style="position:absolute;top:45px; bottom: 54px; left:0px; right:0px;background-color: rgba(255,255,255,0.15);">
<ion-scroll >
<div class="list">
<div class="item item-divider">Basic Info </div>
<label class="item item-input item-select" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">Type</div>
	<select class="select-type" ng-model="data.type" style="right: 10px !important; top: 6px !important; position: absolute !important;">
		<option value="fire">Fire</option>
		<option value="grass">Grass</option>
		<option value="water">Water</option>
		<option value="electric">Electric</option>
		<option value="psychic">Psychic</option>
		<option value="fighting">Fighting</option>
		<option value="normal">Normal</option>
		<option value="steel">Steel</option>
		<option value="dark">Dark</option>
	</select>
</label>
<label class="item item-input" style="background-color: rgba(255,255,255,0.85);">
	<span class="input-label">Name</span>
	<input type="text" placeholder="-" ng-model="data.name" ng-trim="false">
</label>

<label class="item item-input item-select" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">HP</div>
	<select ng-model="data.hp" style="right: 10px !important; top: 6px !important; position: absolute !important;">
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="60">60</option>
        <option value="70">70</option>
        <option value="80">80</option>
        <option value="90">90</option>
        <option value="100">100</option>
        <option value="110">110</option>
        <option value="120">120</option>
        <option value="130">130</option>
        <option value="140">140</option>
        <option value="150">150</option>
        <option value="160">160</option>
        <option value="170">170</option>
        <option value="180">180</option>
        <option value="190">190</option>
        <option value="200">200</option>
	</select>
</label>
<div class="item item-input-inset" style="background-color: rgba(255,255,255,0.85);">
	<span class="input-label">Photo</span>
	<div class="button-bar-inline" style="">
		<!--<button class="button button-balanced button-medium icon ion-checkmark-round" ng-hide="!data.url"></button>-->
		<button class="button button-medium icon ion-android-camera" style="margin-left: 4px" ng-click="getPicture()"></button>
		<button class="button button-medium icon ion-android-image" style="margin-left: 4px" ng-click="loadImage()"></button>
        <div style="display:block;padding: 10px 0px 0px 7px;">
            <img src="{{data.url}}" style="width: 100%" ng-hide="!data.url">
        </div>
	</div>
</div>

<div class="item item-divider" style="line-height: 40px">Extra Info
    <ion-toggle ng-model="data.hasAdditional" ng-checked="data.hasAdditional" style="float: right; border: none; border: none; background-color: rgba(0,0,0,0); display: block;height: 40px;"></ion-toggle>
</div>
<label class="item item-input" ng-show="data.hasAdditional" style="background-color: rgba(255,255,255,0.85);">
    <span class="input-label">Species</span>
    <input type="text" placeholder="-" ng-model="data.species">
</label>
<label class="item item-input" ng-show="data.hasAdditional" style="background-color: rgba(255,255,255,0.85);">
    <span class="input-label">Length</span>
    <input type="text" placeholder="0&apos; 0&quot;" ng-model="data.length">
</label>
<label class="item item-input" ng-show="data.hasAdditional" style="background-color: rgba(255,255,255,0.85);">
    <span class="input-label">Weight</span>
    <input type="text" placeholder="0 lbs." ng-model="data.weight">
</label>

<!--ATTACK 1-->
<div class="item item-divider" style="line-height: 40px">Attack 1
    <ion-toggle ng-model="data.hasAttack1" ng-checked="data.hasAttack1" style="float: right; border: none; border: none; background-color: rgba(0,0,0,0); display: block;height: 40px;"></ion-toggle>
</div>
<label class="item item-input" ng-show="data.hasAttack1" style="background-color: rgba(255,255,255,0.85);">
	<span class="input-label">Name</span>
	<input type="text" placeholder="-" ng-model="data.att1_name">
</label>
<label class="item item-input item-select" ng-show="data.hasAttack1" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">Damage</div>
	<select ng-model="data.att1_value" style="right: 10px !important; top: 6px !important; position: absolute !important;">
		<option value=""></option>
		<option value="10">10</option>
		<option value="10+">10+</option>
		<option value="10x">10x</option>
		<option value="20">20</option>
		<option value="20+">20+</option>
		<option value="20x">20x</option>
		<option value="30">30</option>
		<option value="30+">30+</option>
		<option value="30x">30x</option>
		<option value="40">40</option>
		<option value="50">50</option>
		<option value="60">60</option>
		<option value="70">70</option>
		<option value="80">80</option>
		<option value="90">90</option>
		<option value="100">100</option>
		<option value="120">120</option>
		<option value="150">150</option>
		<option value="200">200</option>
	</select>
</label>
<label class="item item-input" ng-show="data.hasAttack1" style="background-color: rgba(255,255,255,0.85);">
	<span class="input-label">Info</span>
	<textarea rows="2" style=" vertical-align:middle;background-color: rgba(255,255,255,0.8)" placeholder="-" ng-model="data.att1_info"></textarea>
</label>
<label class="item item-input item-select" ng-show="data.hasAttack1" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">Type</div>
	<select class="select-type" ng-model="data.att1_type" style="right: 10px !important; top: 6px !important; position: absolute !important;">
		<option value="fire">Fire</option>
		<option value="grass">Grass</option>
		<option value="water">Water</option>
		<option value="electric">Electric</option>
		<option value="psychic">Psychic</option>
		<option value="fighting">Fighting</option>
		<option value="normal">Normal</option>
		<option value="steel">Steel</option>
		<option value="dark">Dark</option>
	</select>
</label>
<label class="item item-input item-select" ng-show="data.hasAttack1" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">Amount</div>
	<select ng-model="data.att1_amt" style="right: 10px !important; top: 6px !important; position: absolute !important;">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
	</select>
</label>

<div class="item item-divider" style="line-height: 40px">Attack 2
    <ion-toggle ng-model="data.hasAttack2" ng-checked="data.hasAttack2" style="float: right; border: none; border: none; background-color: rgba(0,0,0,0); display: block;height: 40px;"></ion-toggle>
</div>

<label class="item item-input " ng-show="data.hasAttack2" style="background-color: rgba(255,255,255,0.85);">
	<span class="input-label">Name</span>
	<input type="text" placeholder="-" ng-model="data.att2_name">
</label>
<label class="item item-input item-select" ng-show="data.hasAttack2" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">Damage</div>
	<select ng-model="data.att2_value" style="right: 10px !important; top: 6px !important; position: absolute !important;">
		<option value=""></option>
		<option value="10">10</option>
		<option value="10+">10+</option>
		<option value="10x">10x</option>
		<option value="20">20</option>
		<option value="20+">20+</option>
		<option value="20x">20x</option>
		<option value="30">30</option>
		<option value="30+">30+</option>
		<option value="30x">30x</option>
		<option value="40">40</option>
		<option value="50">50</option>
		<option value="60">60</option>
		<option value="70">70</option>
		<option value="80">80</option>
		<option value="90">90</option>
		<option value="100">100</option>
		<option value="120">120</option>
		<option value="150">150</option>
		<option value="200">200</option>
	</select>
</label>
<label class="item item-input" ng-show="data.hasAttack2" style="background-color: rgba(255,255,255,0.85);">
	<span class="input-label">Info</span>
    <textarea rows="2" style=" vertical-align:middle;background-color: rgba(255,255,255,0.8)" placeholder="-" ng-model="data.att2_info"></textarea>
</label>
<label class="item item-input item-select" ng-show="data.hasAttack2" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">Type</div>
	<select class="select-type" ng-model="data.att2_type" style="right: 10px !important; top: 6px !important; position: absolute !important;">
		<option value="fire">Fire</option>
		<option value="grass">Grass</option>
		<option value="water">Water</option>
		<option value="electric">Electric</option>
		<option value="psychic">Psychic</option>
		<option value="fighting">Fighting</option>
		<option value="normal">Normal</option>
		<option value="steel">Steel</option>
		<option value="dark">Dark</option>
	</select>
</label>
<label class="item item-input item-select" ng-show="data.hasAttack2" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">Amount</div>
	<select ng-model="data.att2_amt" style="right: 10px !important; top: 6px !important; position: absolute !important;">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
	</select>
</label>


<div class="item item-divider" style="line-height: 40px">Weakness
    <ion-toggle ng-model="data.hasWeakness" ng-checked="data.hasWeakness" style="float: right; border: none; border: none; background-color: rgba(0,0,0,0); display: block;height: 40px;"></ion-toggle>
</div>
<label class="item item-input item-select" ng-show="data.hasWeakness" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">Type</div>
	<select class="select-type" ng-model="data.weakness_type" style="right: 10px !important; top: 6px !important; position: absolute !important;">
		<option value="fire">Fire</option>
		<option value="grass">Grass</option>
		<option value="water">Water</option>
		<option value="electric">Electric</option>
		<option value="psychic">Psychic</option>
		<option value="fighting">Fighting</option>
		<option value="normal">Normal</option>
		<option value="steel">Steel</option>
		<option value="dark">Dark</option>
	</select>
</label>
<label class="item item-input item-select" ng-show="data.hasWeakness" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">Amount</div>
	<select ng-model="data.weakness_amt" style="right: 10px !important; top: 6px !important; position: absolute !important;">
		<option value=""></option>
		<option value="+10">+10</option>
		<option value="+20">+20</option>
		<option value="+30">+30</option>
		<option value="+40">+40</option>
		<option value="x2">x2</option>
	</select>
</label>

<div class="item item-divider" style="line-height: 40px">Resistance
    <ion-toggle ng-model="data.hasResistance" ng-checked="data.hasResistance" style="float: right; border: none; border: none; background-color: rgba(0,0,0,0); display: block;height: 40px;"></ion-toggle>
</div>
<label class="item item-input item-select" ng-show="data.hasResistance" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">Type</div>
	<select class="select-type" ng-model="data.resistance_type" style="right: 10px !important; top: 6px !important; position: absolute !important;">
		<option value="fire">Fire</option>
		<option value="grass">Grass</option>
		<option value="water">Water</option>
		<option value="electric">Electric</option>
		<option value="psychic">Psychic</option>
		<option value="fighting">Fighting</option>
		<option value="normal">Normal</option>
		<option value="steel">Steel</option>
		<option value="dark">Dark</option>
	</select>
</label>
<label class="item item-input item-select" ng-show="data.hasResistance" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">Amount</div>
	<select ng-model="data.resistance_amt" style="right: 10px !important; top: 6px !important; position: absolute !important;">
		<option value=""></option>
		<option value="-10">-10</option>
		<option value="-20">-20</option>
		<option value="-30">-30</option>
		<option value="-40">-40</option>
	</select>
</label>

<div class="item item-divider" style="line-height: 40px">Retreat
    <ion-toggle ng-model="data.hasRetreat" ng-checked="data.hasRetreat" style="float: right; border: none; border: none; background-color: rgba(0,0,0,0); display: block;height: 40px;"></ion-toggle>
</div>
<label class="item item-input item-select" ng-show="data.hasRetreat" style="background-color: rgba(255,255,255,0.85);">
	<div class="input-label">Cost</div>
	<select ng-model="data.retreat_amt" style="right: 10px !important; top: 6px !important; position: absolute !important;">
		<option value="0">0</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
	</select>
</label>

<div class="item item-divider" style="line-height: 40px">Other
    <ion-toggle ng-model="data.hasOther" ng-checked="data.hasOther" style="float: right; border: none; border: none; background-color: rgba(0,0,0,0); display: block;height: 40px;"></ion-toggle>
</div>
<label class="item item-input " ng-show="data.hasOther" style="background-color: rgba(255,255,255,0.85);">
	<span class="input-label">Flavor</span>
	<input type="text" placeholder="-" ng-model="data.flavor">
</label>
<label class="item item-input " ng-show="data.hasOther" style="background-color: rgba(255,255,255,0.85);">
	<span class="input-label">Illustrator</span>
	<input type="text" placeholder="Illus. " ng-model="data.illustrator">
</label>

</div>
</ion-scroll>
</div>

<div class="bar bar-footer bar-light" style="background-color: rgba(255,255,255,0.4); height: 55px; padding: 0px;">
	<div style="padding: 0px 10px 0px 10px; width: 100%; height: 100%">
		<button class="button button-block button-positive" ng-click="prepareCard()">Make a card!</button>
	</div>
</div>